<div class="col-md-8 col-md-offset-2 margin-top">
  <%= simple_form_for @user do |f| %>

    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :photo %>

    <%= f.submit class: 'btn btn-success form-control' %>

  <% end %>
</div>
