<% if current_user %>
  <%= render 'layouts/new_compliment' %>
<% end %>

<div class="<%= 'col-md-8' if current_user %>">
  <%= render 'layouts/post_list' %>
</div>

<% if current_user %>
  <div class="col-md-4" id="interesting-users">
    <%= render 'layouts/interesting_users' %>
  </div>
<% end %>

<div class="clearfix"></div>

<div class="col-md-12">
  <%= paginate @posts %>
</div>
